
body{
    font-family: Arial, Helvetica, sans-serif;
    
}
*{margin: 0; padding: 0;}
body, ul{ 
    margin: 0; padding: 0;
}
a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}
a:hover{
    background: rgba(0, 0, 0, .1);
}
#Logo{
    font-size: 1.5rem;
    font-weight: bold;
}
#header{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 1rem ;
    justify-content: space-between ;
    background:  #b0e0e6;
    box-shadow: 0px 0px 10px 0px #b0e0e6;;
    

}

#menu{
    display: flex;
    list-style: none;
    gap: .5rem ;
}
#menu a{
    display: block;
    padding: .5rem;
}
#btn-mobile{
    display: none;
}
@media (max-width: 600px) {
    #btn-mobile{
    display: block;
    }
    #menu{
        
        display: block;
        position: absolute;
        width: 200px;

        top:70px;
        right: 0px;
        background: #b0e0e6;
        height: 0px ;
        transition: .6s;
        z-index: 100;
        visibility: hidden;
        overflow-y: hidden;
        
       
    }
    #nav.active #menu{
    
        height: calc(39vh - 70px);
        visibility: visible;
        overflow-y: auto;

    }   
    #menu a {
        
        padding: 1rem 0;
        margin: 0 1rem ;
        border-bottom: 2px solid rgba(0, 0, 0, .09);
        
     }
     #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 5px;

     }
     #hamburger{
         display: block;
         width: 20px;
         border-top: 2px solid;
         color: grey;
         
         
     }
     #hamburger::after, #hamburger::before{
         content: '';
         display: block;
         width: 20px;
         height: 2px;
         background: blue;
         margin-top: 5px;
         background: currentColor;
         transition: .3s;
         position: relative;
     }
     #nav.active #hamburger{
         
         border-top-color: transparent;



     }
     #nav.active #hamburger::before{
         transform: rotate(135deg);
        

     }
     #nav.active #hamburger::after{
         transform: rotate(-135deg);
         top: -7px;

     }
     h1{
         margin-top: 250px;
     }
     .AC {
        width: 45%;
        height: 450px;
        background-color: white;
        float: left;
        text-align: center;
        position:relative;
        top: 10px;
        gap: 5px;
        
    }
    .AC H3{
        border-style: outset;
        background-color: #b0e0e6;
    }
    .AC P{
        text-align: left;
        margin-top: 5px;
    }
    .AC img{
        width: 75%;
        height: 250px;
        position: relative;
        bottom: 10px;
    }
    .AC button{
        width: 50%;
        background-color: #b0e0e6;
        box-shadow: 0px 0px 10px 0px #b0e0e6;;
        border: #b0e0e6 solid 1px;
        border-radius: 7.5px;
        cursor: pointer;
    }
    .BA {
        width: 45%;
        height: 450px;
        background-color: white;
        float: right;
        text-align: center;
        position:relative;
        top: 10px;
        
    }
    .BA H3{
        border-style: outset;
        background-color: #b0e0e6;
    }
    .BA p{
        text-align: left;
        margin-top: 5px;
    }
    .BA img{
        width: 75%;
        height: 250px;
        position: relative;
        top: 40px;
    }
    .BA button{
        width: 50%;
        background-color: #b0e0e6;
        box-shadow: 0px 0px 10px 0px #b0e0e6;;
        border: #b0e0e6 solid 1px;
        border-radius: 7.5px;
        cursor: pointer;
        position: relative;
        top: 40px;
    }
    .CA {
        width: 45%;
        height: 450px;
        background-color: white;
        float: left;
        text-align: center;
        position: relative;
        top: 200px;
    }
    .CA H3{
        border-style: outset;
        background-color: #b0e0e6;;
    }
    .CA p{
        text-align: left;
        margin-top: 5px;
    }
    .CA img{
        position:relative;
        top: 50px;
        width: 75%;
        height: 250px;
    }
    .CA button{
        width: 50%;
        background-color: #b0e0e6;
        box-shadow: 0px 0px 10px 0px #b0e0e6;;
        border: #b0e0e6 solid 1px;
        border-radius: 7.5px;
        cursor: pointer;
        position: relative;
        top: 40px;
    }
    
    .GR {
        width: 45%;
        height: 450px;
        background-color: white;
        float: right;
        text-align: center;
        position: relative;
        top: 200px;
    }
    .GR H3{
        border-style: outset;
        background-color: #b0e0e6;
    }
    .GR p{
        text-align: left;
        margin-top: 5px;
    }
    .GR img{
        margin-top: 3px;
        width: 75%;
        height: 250px;
    }
    .GR button{
        width: 50%;
        background-color: #b0e0e6;
        box-shadow: 0px 0px 10px 0px #b0e0e6;;
        border: #b0e0e6 solid 1px;
        border-radius: 7.5px;
        cursor: pointer;
    }
    .JA {
        width: 45%;
        height: 450px;
        background-color: white;
        float: right;
        text-align: center;
        position: relative;
        top: 300px;
    }
    .JA H3{
        border-style: outset;
        background-color: #b0e0e6;
    }
    .JA p{
        text-align: left;
        margin-top: 5px;
    }
    .JA img{
        position: relative;
        top: 15px;
        width: 75%;
        height: 250px;
    }
    .JA button{
        width: 50%;
        background-color: #b0e0e6;
        box-shadow: 0px 0px 10px 0px #b0e0e6;;
        border: #b0e0e6 solid 1px;
        border-radius: 7.5px;
        cursor: pointer;
        position: relative;
        top: 10px;
    }
    .MA {
        width: 45%;
        height: 450px;
        background-color: white;
        float: left;
        text-align: center;
        position: relative;
        top: 300px;
    }
    .MA H3{
        border-style: outset;
        background-color: #b0e0e6;
    }
    .MA p{
        text-align: left;
        margin-top: 5px;
    }
    .MA img{
        margin-top: 20px;
        height: 250px;
        width: 75%;
    }
    .MA button{
        width: 50%;
        background-color: paleturquoise;
        box-shadow: 0px 0px 10px 0px paleturquoise;
        border: paleturquoise solid 1px;
        border-radius: 7.5px;
        cursor: pointer;
        position: relative;
        top: 9px;
    }
    .RO {
        width: 45%;
        height: 450px;
        background-color: white;
        float: right;
        text-align: center;
        position: relative;
        top: 400px;
    }
    
    .RO H3{
        border-style: outset;
        background-color: #b0e0e6;
    }
   
    .RO p{
        text-align: left;
        margin-top: 5px;
    }
    .RO img{
        position: relative;
        width: 75%;
        height: 250px;
    }
    .RO button{
        width: 50%;
        background-color: #b0e0e6;
        box-shadow: 0px 0px 10px 0px #b0e0e6;;
        border: #b0e0e6 solid 1px;
        border-radius: 7.5px;
        cursor: pointer;
        position: relative;
        top: 10px;
    }
    .PE {
        width: 45%;
        height: 450px;
        background-color: white;
        float: left;
        text-align: center;
        position: relative;
        top: 400px;
    
    }
    .PE H3{
        border-style: outset;
        background-color: #b0e0e6;
    }
    .PE p{
        text-align: left;
        margin-top: 5px;
    }
    .PE img{
        margin-top: 20px;
        width: 75%;
        height: 250px;
    }
    .PE button{
        width: 50%;
        background-color: #b0e0e6;
        box-shadow: 0px 0px 10px 0px #b0e0e6;;
        border: #b0e0e6 solid 1px;
        border-radius: 7.5px;
        cursor: pointer;
        position: relative;
        
    }
    .UM {
        width: 50%;
        height: 450px;
        background-color: white;
        float: left;
        text-align: center;
        margin-left: 25%;
        position: relative;
        top: 500px;
    }
    .UM H3{
        border-style: outset;
        margin-top: -25px;
        background-color: #b0e0e6;
    }
    
    .UM p{
        text-align: left;
        margin-top: 5px;
    }
    .UM img{
        margin-top: 20px;
        width: 75%;
        height: 250px;
    }
    .UM button{
        width: 50%;
        background-color: #b0e0e6;
    box-shadow: 0px 0px 10px 0px #b0e0e6;
    border: #b0e0e6 solid 1px;
        border-radius: 7.5px;
        cursor: pointer;
    }

    .pagamento{
        height: 200px;
        width: 100%;
    
    }
    .pagamento h2{
        background-color: #b0e0e6;
        border-style:outset;
        width: 50% 
        
    }
    .pagamento label, select{
        position: relative;
        bottom: -15px;
        margin: 5px;
        right: 15px;
        border: 1px solid black;
        
    }
  
    .pagamento3 h2{
        position: relative;
        top: -85px;
        background-color: #b0e0e6;
        border-style:outset;
        width: 50% ; 
      
    }
    .pagamento3 input{
        position: relative;
        top: -75px;
        margin: 2px;
        border: 1px solid black;
        background: rgb(226, 225, 225)
        
    }
    .pagamento3 img{
        width: 50%;
        height: 50px;
        position: relative;
        top: -50px;
        left: 25%;
        cursor: pointer
        
    }
    .pagamento3 button{
        position: relative;
        top: -30px;
        border-radius: 7.5px;
        background-color: #b0e0e6;
        box-shadow: 0px 0px 10px 0px #b0e0e6;;
        border: #b0e0e6 solid 1px;
        left: 36%;
        cursor: pointer;
    }
    
.contato{
    width: 100%;
    height: 100px;
    background: black;
    position: relative;
    top: 25px;
}
.contato p{
    color: #fff;
    text-align: center;
    position: relative;
    top: 50px;
}
    
    

}


.frutas{
    width: 100%;
    height: 150vh;
    background-color: white;

    
}
.AC {
    width: 45%;
    height: 450px;
    background-color: white;
    float: left;
    text-align: center;
    position:relative;
    top: 10px;
    gap: 5px;
    
}
.AC H3{
    border-style: outset;
}
.AC P{
    text-align: left;
    margin-top: 5px;
}
.AC img{
    width: 75%;
    height: 250px;
    position: relative;
    bottom: 10px;
}
.AC button{
    width: 50%;
    background-color: paleturquoise;
    box-shadow: 0px 0px 10px 0px paleturquoise;
    border: paleturquoise solid 1px;
    border-radius: 7.5px;
    cursor: pointer;
}
.BA {
    width: 45%;
    height: 450px;
    background-color: white;
    float: right;
    text-align: center;
    position:relative;
    top: 10px;
    
}
.BA H3{
    border-style: outset;
}
.BA p{
    text-align: left;
    margin-top: 5px;
}
.BA img{
    width: 75%;
    height: 250px;
    position: relative;
    top: 40px;
}
.BA button{
    width: 50%;
    background-color: paleturquoise;
    box-shadow: 0px 0px 10px 0px paleturquoise;
    border: paleturquoise solid 1px;
    border-radius: 7.5px;
    cursor: pointer;
    position: relative;
    top: 36px;
}
.CA {
    width: 45%;
    height: 450px;
    background-color: white;
    float: left;
    text-align: center;
    position: relative;
    top: 200px;
}
.CA H3{
    border-style: outset;
}
.CA p{
    text-align: left;
    margin-top: 5px;
}
.CA img{
    position:relative;
    top: 50px;
    width: 75%;
    height: 250px;
}
.CA button{
    width: 50%;
    background-color: paleturquoise;
    box-shadow: 0px 0px 10px 0px paleturquoise;
    border: paleturquoise solid 1px;
    border-radius: 7.5px;
    cursor: pointer;
    position: relative;
    top: 40px;
}

.GR {
    width: 45%;
    height: 450px;
    background-color: white;
    float: right;
    text-align: center;
    position: relative;
    top: 200px;
}
.GR H3{
    border-style: outset;
}
.GR p{
    text-align: left;
    margin-top: 5px;
}
.GR img{
    margin-top: 3px;
    width: 75%;
    height: 250px;
}
.GR button{
    width: 50%;
    background-color: paleturquoise;
    box-shadow: 0px 0px 10px 0px paleturquoise;
    border: paleturquoise solid 1px;
    border-radius: 7.5px;
    cursor: pointer;
}
.JA {
    width: 45%;
    height: 450px;
    background-color: white;
    float: right;
    text-align: center;
    position: relative;
    top: 300px;
}
.JA H3{
    border-style: outset;
}
.JA p{
    text-align: left;
    margin-top: 5px;
}
.JA img{
    position: relative;
    top: 15px;
    width: 75%;
    height: 250px;
}
.JA button{
    width: 50%;
    background-color: paleturquoise;
    box-shadow: 0px 0px 10px 0px paleturquoise;
    border: paleturquoise solid 1px;
    border-radius: 7.5px;
    cursor: pointer;
    position: relative;
    top: 10px;
}
.MA {
    width: 45%;
    height: 450px;
    background-color: white;
    float: left;
    text-align: center;
    position: relative;
    top: 300px;
}
.MA H3{
    border-style: outset;
}
.MA p{
    text-align: left;
    margin-top: 5px;
}
.MA img{
    margin-top: 20px;
    width: 75%;
}
.MA button{
    width: 50%;
    background-color: paleturquoise;
    box-shadow: 0px 0px 10px 0px paleturquoise;
    border: paleturquoise solid 1px;
    border-radius: 7.5px;
    cursor: pointer;
    position: relative;
    top: 9px;
}
.RO {
    width: 45%;
    height: 450px;
    background-color: white;
    float: right;
    text-align: center;
    position: relative;
    top: 400px;
}

.RO H3{
    border-style: outset;
}
.pagamento3 img{
    width: 50%;
}
.RO p{
    text-align: left;
    margin-top: 5px;
}
.RO img{

    width: 75%;
    height: 250px;
}
.RO button{
    width: 50%;
    background-color: paleturquoise;
    box-shadow: 0px 0px 10px 0px paleturquoise;
    border: paleturquoise solid 1px;
    border-radius: 7.5px;
    cursor: pointer;
    position: relative;
    top: 1px;
}
.PE {
    width: 45%;
    height: 450px;
    background-color: white;
    float: left;
    text-align: center;
    position: relative;
    top: 400px;

}
.PE H3{
    border-style: outset;
}
.PE p{
    text-align: left;
    margin-top: 5px;
}
.PE img{
    margin-top: 20px;
    width: 75%;
    height: 250px;
}
.PE button{
    width: 50%;
    background-color: paleturquoise;
    box-shadow: 0px 0px 10px 0px paleturquoise;
    border: paleturquoise solid 1px;
    border-radius: 7.5px;
    cursor: pointer;
}
.UM {
    width: 50%;
    height: 450px;
    background-color: white;
    float: left;
    text-align: center;
    margin-left: 25%;
    position: relative;
    top: 500px;
}
.UM H3{
    border-style: outset;
}
.UM p{
    text-align: left;
    margin-top: 5px;
}
.UM img{
    margin-top: 20px;
    width: 75%;
    height: 250px;
}
.UM button{
    width: 50%;
   background-color: paleturquoise;
    box-shadow: 0px 0px 10px 0px paleturquoise;
    border: paleturquoise solid 3px;
    border-radius: 7.5px;
    cursor: pointer;
    position: relative;
}

.pagamento h2{
    margin-top: 1450px;
border-bottom: 2px solid rgba(0, 0, 0, .3);
    
}
.pagamento label, select{
    position: relative;
    
    margin: 5px;
    right: 15px;
    border: 1px solid black;
    
}

.pagamento3 h2{
    position: relative;

    border-bottom: 2px solid rgba(0, 0, 0, .3); 
  
}
.pagamento3 input{
    position: relative;
    margin: 2px;
    border: 1px solid black;
    background: rgb(226, 225, 225)
    
}
.pagamento3 img{
    width: 50%;
    height: 50px;
    position: relative;
    left: 25%;
    
}
.pagamento3 button{
    position: relative;
    border-radius: 7.5px;
    background-color: paleturquoise;
    box-shadow: 0px 0px 10px 0px paleturquoise;
    border: paleturquoise solid 3px;
    left: 36%;
}

.contato{
width: 100%;
background: black;
position: relative;
}
.contato p{
color: #fff;
text-align: center;
position: relative;

}
