
body{
    font-family: Arial, Helvetica, sans-serif;
    
}
*{margin: 0; padding: 0;}
body, ul{ 
    margin: 0; padding: 0;
}
a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}
a:hover{
    background: rgba(0, 0, 0, .1);
}
#Logo{
    font-size: 1.5rem;
    font-weight: bold;
}
#header{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 1rem ;
    justify-content: space-between ;
    background-color: #b0e0e6;
    box-shadow: 0px 0px 10px 0px #b0e0e6;;
    
   

}

#menu{
    display: flex;
    list-style: none;
    gap: .5rem ;
}
#menu a{
    display: block;
    padding: .5rem;
}
#btn-mobile{
    display: none;
}
@media (max-width: 600px) {
    #btn-mobile{
    display: block;
    }
    #menu{
        
        display: block;
        position: absolute;
        width: 200px;

        top:70px;
        right: 0px;
        background:  #b0e0e6;
        box-shadow: 0px 0px 10px 0px #b0e0e6;;
        height: 0px ;
        transition: .6s;
        z-index: 100;
        visibility: hidden;
        overflow-y: hidden;
        
       
    }
    #nav.active #menu{
    
        height: calc(39vh - 70px);
        visibility: visible;
        overflow-y: auto;

    }   
    #menu a {
        
        padding: 1rem 0;
        margin: 0 1rem ;
        border-bottom: 2px solid rgba(0, 0, 0, .09);
        
        
     }
     #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 5px;

     }
     #hamburger{
         display: block;
         width: 20px;
         border-top: 2px solid;
         color: grey;
         
         
     }
     #hamburger::after, #hamburger::before{
         content: '';
         display: block;
         width: 20px;
         height: 2px;
         background: blue;
         margin-top: 5px;
         background: currentColor;
         transition: .3s;
         position: relative;
     }
     #nav.active #hamburger{
         
         border-top-color: transparent;



     }
     #nav.active #hamburger::before{
         transform: rotate(135deg);
        

     }
     #nav.active #hamburger::after{
         transform: rotate(-135deg);
         top: -7px;

     }
     h1{
         margin-top: 250px;
     }

}


.frutas{
    width: 100%;
    height: 150vh;
    background-color: white;

    
}
.AC {
    width: 45%;
    height: 450px;
    background-color: white;
    float: left;
    text-align: center;
    position:relative;
    top: 10px;
    gap: 5px;
    
}
.AC H3{
    border-style: outset;
    background-color: #b0e0e6;
    
}
.AC P{
    text-align: left;
    margin-top: 5px;
}
.AC img{
    width: 50%;
    height: 250px;
    position: relative;
    top: 20px;
}
.AC button{
    width: 50%;
    background-color: #b0e0e6;
    box-shadow: 0px 0px 10px 0px #b0e0e6;;
    border: #b0e0e6 solid 1px;
    border-radius: 7.5px;
    cursor: pointer;
    position:relative;
    top: 40px;
}
.BA {
    width: 45%;
    height: 450px;
    background-color: white;
    float: right;
    text-align: center;
    position:relative;
    top: 10px;
    
}
.BA H3{
    border-style: outset;
    background-color: #b0e0e6;
}
.BA p{
    text-align: left;
    margin-top: 5px;
    
    
}
.BA img{
    width: 50%;
    height: 250px;
    position: relative;
    top: 60px;
}
.BA button{
    width: 50%;
    background-color: #b0e0e6;
    box-shadow: 0px 0px 10px 0px #b0e0e6;;
    border: #b0e0e6 solid 1px;
    border-radius: 7.5px;
    cursor: pointer;
    position: relative;
    top: 60px;
}
.CA {
    width: 45%;
    height: 450px;
    background-color: white;
    float: left;
    text-align: center;
    position: relative;
    top: 50px;
}
.CA H3{
    border-style: outset;
    background-color: #b0e0e6;;
}
.CA p{
    text-align: left;
    margin-top: 5px;
}
.CA img{
    position:relative;
    top: 40px;
    width: 50%;
    height: 250px;
}
.CA button{
    width: 50%;
    background-color: #b0e0e6;
    box-shadow: 0px 0px 10px 0px #b0e0e6;;
    border: #b0e0e6 solid 1px;
    border-radius: 7.5px;
    cursor: pointer;
    position: relative;
    top: 22px;
}

.GR {
    width: 45%;
    height: 450px;
    background-color: white;
    float: right;
    text-align: center;
    position: relative;
    top: 50px;
}
.GR H3{
    border-style: outset;
    background-color: #b0e0e6;
}
.GR p{
    text-align: left;
    margin-top: 5px;
}
.GR img{
    position: relative;
    top: 40px;
    width: 50%;
    height: 250px;
}
.GR button{
    width: 50%;
    background-color: #b0e0e6;
    box-shadow: 0px 0px 10px 0px #b0e0e6;;
    border: #b0e0e6 solid 1px;
    border-radius: 7.5px;
    cursor: pointer;
    position: relative;
    top: 20px;
}
.JA {
    width: 45%;
    height: 450px;
    background-color: white;
    float: right;
    text-align: center;
    position: relative;
    top: 35px;
}
.JA H3{
    border-style: outset;
    background-color: #b0e0e6;
}
.JA p{
    text-align: left;
    margin-top: 5px;
}
.JA img{
    position: relative;
    width: 50%;
    height: 250px;
}
.JA button{
    width: 50%;
    background-color: #b0e0e6;
    box-shadow: 0px 0px 10px 0px #b0e0e6;;
    border: #b0e0e6 solid 1px;
    border-radius: 7.5px;
    cursor: pointer;
    position: relative;
    bottom: 3px;
    
}
.MA {
    width: 45%;
    height: 450px;
    background-color: white;
    float: left;
    text-align: center;
    position: relative;
    top: 35px;
}
.MA H3{
    border-style: outset;
    background-color: #b0e0e6;
}
.MA p{
    text-align: left;
    margin-top: 5px;
  
}
.MA img{
    margin-top: 0px;
    width: 50%;
    height: 55%;
}
.MA button{
    width: 50%;
    background-color: #b0e0e6;
    box-shadow: 0px 0px 10px 0px #b0e0e6;;
    border: #b0e0e6 solid 1px;
    border-radius: 7.5px;
    cursor: pointer;
    position: relative;
    top: 0px;
}
.RO {
    width: 45%;
    height: 450px;
    background-color: white;
    float: right;
    text-align: center;
    position: relative;
    top: 10px;
}

.RO H3{
    border-style: outset;
    background-color: #b0e0e6;
 
}
.pagamento3 img{
    width: 50%;
}
.RO p{
    text-align: left;
    margin-top: 5px;
    
}
.RO img{
    margin-top: 20px;
    width: 50%;
    height: 250px;
}
.RO button{
    width: 50%;
    background-color: #b0e0e6;
    box-shadow: 0px 0px 10px 0px #b0e0e6;;
    border: #b0e0e6 solid 1px;
    border-radius: 7.5px;
    cursor: pointer;
    position: relative;
    top: 1px;
}
.PE {
    width: 45%;
    height: 450px;
    background-color: white;
    float: left;
    text-align: center;
    position: relative;
    top: 10px;

}
.PE H3{
    border-style: outset;
    background-color: #b0e0e6;
}
.PE p{
    text-align: left;
    margin-top: 5px;
}
.PE img{
    margin-top: 20px;
    width: 50%;
    height: 250px;
}
.PE button{
    width: 50%;
    background-color: #b0e0e6;
    box-shadow: 0px 0px 10px 0px #b0e0e6;;
    border: #b0e0e6 solid 1px;
    border-radius: 7.5px;
    cursor: pointer;
}
.UM {
    width: 50%;
    height: 250px;
    background-color: white;
    float: left;
    text-align: center;
    margin-left: 25%;
    position: relative;
    top: 10px;
}
.UM H3{
    border-style: outset;
    background-color: #b0e0e6;
}
.UM p{
    text-align: left;
    margin-top: 5px;
}
.UM img{
    margin-top: 20px;
    width: 50%;
    height: 250px;
}
.UM button{
    width: 50%;
    background-color: #b0e0e6;
    box-shadow: 0px 0px 10px 0px #b0e0e6;
    border: #b0e0e6 solid 1px;
    border-radius: 7.5px;
    cursor: pointer;
    position: relative;
}

.pagamento{
    height: 200px;
    width: 100%;

}
.pagamento h2{
    text-align: left;
    position: block;
    margin-top: 215vh;
    background-color: #b0e0e6;
    border-style:outset;
    width: 30%  
    
}
.pagamento label, select{
    position: relative;
    bottom: -10px;
    margin: 5px;
    right: 15px;
    border: 1px solid black;
    
}

.pagamento3 h2{
    position: relative;
    top: -115px;
    background-color: #b0e0e6;
    border-style:outset;
    width: 30%  
}
.pagamento3 input{
    position: relative;
    top: -100px;
    margin: 2px;
    border: 1px solid black;
    background: rgb(226, 225, 225)
    
}
.pagamento3 img{
    width: 25%;
    height: 50px;
    position: relative;
    top: -75px;
    left: 37%;
    cursor: pointer;
    
}
.pagamento3 button{
    position: relative;
    top: -50px;
    width: 25%;
    border-radius: 7.5px;
    background-color: #b0e0e6;
    box-shadow: 0px 0px 10px 0px #b0e0e6;;
    border: #b0e0e6 solid 1px;
    left: 37%;
    cursor: pointer;

}

.contato{
width: 100%;
height: 100px;
background: black;
position: relative;
top: 100px;
}
.contato p{
color: #fff;
text-align: center;
position: relative;
top: 50px;
}